### Actividad Grupal: Análisis de Datos del Municipio de Monterrey (DATOS DEL 2015)
### INTEGRANTES GRUPO 3:
#### •	ALDAZ RIVERA DANI ALEXANDER 
#### •	BONILLA VIMOS WASHINGTON RAMIRO

### Parte 1 : Limpeza

In [1]:
# importa la libreria de pandas
import pandas as pd

In [2]:
#importar la libreria del sistema operativo
import os

In [3]:
# Ruta de la carpeta que contiene los archivos
folder_path = r'C:\data'

In [4]:
# Lista para almacenar los DataFrames de cada archivo
dataframes = []

In [5]:
# Leer los archivos numerados del 1 al 12
for i in range(1, 13):
    file_path = os.path.join(folder_path, f'{i}.xlsx')
    # Cargar el archivo Excel en un DataFrame
    df = pd.read_excel(file_path,skiprows=6)
    # Añadir el DataFrame a la lista
    dataframes.append(df)

In [6]:
# Concatenar todos los DataFrames en uno solo
df_2015 = pd.concat(dataframes, ignore_index=True)

C:\Users\USUARIO\AppData\Local\Temp\ipykernel_29872\3148699290.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_2015 = pd.concat(dataframes, ignore_index=True)

In [7]:
# Mostrar las primeras filas del DataFrame resultante
print(df_2015.head())

                                 FECHA FACTURA  \
0  OBRA PUBLICA Y RECURSOS ETIQUETADOS     NaN
1                  2015-01-30 00:00:00      70
2                  2015-01-30 00:00:00      73
3                  2015-01-30 00:00:00      81
4                  2015-01-26 00:00:00      01

                                    BENEFICIARIO             RFC  \
0                                            NaN             NaN
1                       CONSTCOMER, S.A. DE C.V.  CON-060323-F88
2                       CONSTCOMER, S.A. DE C.V.  CON-060323-F88
3                       CONSTCOMER, S.A. DE C.V.  CON-060323-F88
4  SRIA. DE FIN.Y TESORERIA GRAL.DEL EDO.DE N.L.    GEN620601DTA

                                         CONCEPTO     IMPORTE  \
0                                             NaN         NaN
1             EQUIPAMIENTO  PARA PARQUES Y PLAZAS   2173840.0
2             EQUIPAMIENTO  PARA PARQUES Y PLAZAS  12708960.0
3             EQUIPAMIENTO  PARA PARQUES Y PLAZAS   4346102.4
4  EX. DE CONTROL Y CONFIANZA PROG. SUBSEMUN 2014   4184000.0

  FECHA DEL PAGO POR CADENAS
0                        NaT
1                        NaT
2                        NaT
3                        NaT
4                        NaT

In [8]:
# Eliminar filas vacías y resetear el índice
df_clean = df_2015.dropna(how='all').reset_index(drop=True)

In [9]:
# Inicializar la columna 'FUENTE' vacía
df_clean['FUENTE'] = None

In [10]:
# Variable para almacenar el valor actual de 'FUENTE'
current_fuente = None

In [11]:
print(df_clean.head())

                                 FECHA FACTURA  \
0  OBRA PUBLICA Y RECURSOS ETIQUETADOS     NaN
1                  2015-01-30 00:00:00      70
2                  2015-01-30 00:00:00      73
3                  2015-01-30 00:00:00      81
4                  2015-01-26 00:00:00      01

                                    BENEFICIARIO             RFC  \
0                                            NaN             NaN
1                       CONSTCOMER, S.A. DE C.V.  CON-060323-F88
2                       CONSTCOMER, S.A. DE C.V.  CON-060323-F88
3                       CONSTCOMER, S.A. DE C.V.  CON-060323-F88
4  SRIA. DE FIN.Y TESORERIA GRAL.DEL EDO.DE N.L.    GEN620601DTA

                                         CONCEPTO     IMPORTE  \
0                                             NaN         NaN
1             EQUIPAMIENTO  PARA PARQUES Y PLAZAS   2173840.0
2             EQUIPAMIENTO  PARA PARQUES Y PLAZAS  12708960.0
3             EQUIPAMIENTO  PARA PARQUES Y PLAZAS   4346102.4
4  EX. DE CONTROL Y CONFIANZA PROG. SUBSEMUN 2014   4184000.0

  FECHA DEL PAGO POR CADENAS FUENTE
0                        NaT   None
1                        NaT   None
2                        NaT   None
3                        NaT   None
4                        NaT   None

In [12]:

# Iterar sobre el DataFrame para asignar los valores de 'FUENTE'
for index, row in df_clean.iterrows():
    # Si la columna 'FACTURA' es NaN, significa que es un título
    if pd.isna(row['FACTURA']):
        current_fuente = row['FECHA']  # Usar este valor como el nuevo "FUENTE"
    else:
        df_clean.at[index, 'FUENTE'] = current_fuente  # Asignar el valor actual de "FUENTE" a las filas correspondientes

In [13]:
# Eliminar las filas que contienen los títulos (donde 'FACTURA' es NaN)
df_clean = df_clean.dropna(subset=['FACTURA'])

In [14]:
# Mostrar el DataFrame resultante con la columna "FUENTE"
df_clean.head()

,FECHA,FACTURA,BENEFICIARIO,RFC,CONCEPTO,IMPORTE,FECHA DEL PAGO POR CADENAS,FUENTE
1,2015-01-30 00:00:00,70,"CONSTCOMER, S.A. DE C.V.",CON-060323-F88,EQUIPAMIENTO PARA PARQUES Y PLAZAS,2173840.0,NaT,OBRA PUBLICA Y RECURSOS ETIQUETADOS
2,2015-01-30 00:00:00,73,"CONSTCOMER, S.A. DE C.V.",CON-060323-F88,EQUIPAMIENTO PARA PARQUES Y PLAZAS,12708960.0,NaT,OBRA PUBLICA Y RECURSOS ETIQUETADOS
3,2015-01-30 00:00:00,81,"CONSTCOMER, S.A. DE C.V.",CON-060323-F88,EQUIPAMIENTO PARA PARQUES Y PLAZAS,4346102.4,NaT,OBRA PUBLICA Y RECURSOS ETIQUETADOS
4,2015-01-26 00:00:00,01,SRIA. DE FIN.Y TESORERIA GRAL.DEL EDO.DE N.L.,GEN620601DTA,EX. DE CONTROL Y CONFIANZA PROG. SUBSEMUN 2014,4184000.0,NaT,OBRA PUBLICA Y RECURSOS ETIQUETADOS
6,2015-01-30 00:00:00,25,"IMPULSORA INDUSTRIAL MONTERREY ,S.A.",IIM651101EVA,MATERIAL ELECTRICO,11460.8,NaT,PROVEEDORES

In [15]:
# Guardar el DataFrame final si es necesario
df_clean.to_excel(r'C:\data\2015.xlsx', index=False)